In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/home/steve/documents/flatIron/fIProject/Stocks/combined_pared_df.csv')
df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,GOED,1847 Goedeker Inc.,9.32,$56.96M,2020.0,Consumer Services,Home Furnishings,https://old.nasdaq.com/symbol/goed,NaN
1,XXII,"22nd Century Group, Inc",2.78,$386.03M,NaN,Consumer Non-Durables,Farming/Seeds/Milling,https://old.nasdaq.com/symbol/xxii,NaN
2,FAX,Aberdeen Asia-Pacific Income Fund Inc,4.35,$1.08B,1986.0,NaN,NaN,https://old.nasdaq.com/symbol/fax,NaN
3,IAF,Aberdeen Australia Equity Fund Inc,5.41,$125.11M,NaN,NaN,NaN,https://old.nasdaq.com/symbol/iaf,NaN
4,AEF,"Aberdeen Emerging Markets Equity Income Fund, ...",8.47,$429.87M,NaN,NaN,NaN,https://old.nasdaq.com/symbol/aef,NaN

In [26]:
# how long should the ticker varchar be?
df['symbol_len'] = df['Symbol'].str.len()

sym_len = df['symbol_len']


print(sym_len.mean(), sym_len.std())
print(sym_len.max())

# the overhead cost of varchar vs char is 1-2 bytes...maybe a better system than varchar(6) could be found
# but that's what the database will be for now but this is still slightly better than char(6)

3.645513890997419 0.6775291087545389
6

In [34]:
# using the same approach to every non-number column:
for col in df.columns:
    if df[col].dtypes == object:
        lens = df[col].str.len()
    
        print(col)
        print(lens.mean(), lens.std())
        print(lens.max())

Symbol
3.645513890997419 0.6775291087545389
6
Name
25.35964779110369 9.917186663177684
62
MarketCap
6.965872733736225 0.9513917351732684
10.0
Sector
11.980559593023257 4.124513966519367
21.0
industry
23.27016715116279 11.412756088466985
62.0
Summary Quote
33.64551389099742 0.6775291087545389
36